In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
filepath= ("/Users/bhupathiraju_renisha/Desktop/Climate/merged_data.csv")

In [3]:
df=pd.read_csv(filepath)

In [4]:
df.head()

,datetime (UTC),"coordinates (lat,lon)",model (name)_x,model elevation (surface)_x,utc_offset (hrs)_x,temperature (degC),total_precipitation (mm of water equivalent),model (name)_y,model elevation (surface)_y,utc_offset (hrs)_y,relative_humidity (0-1),model (name),model elevation (surface),utc_offset (hrs),10m_u_component_of_wind (m/s),10m_v_component_of_wind (m/s)
0,2005-01-01 00:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,17.94,0.0,era5,563.89,5.5,0.91,era5,563.89,5.5,-2.04,1.87
1,2005-01-01 01:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,17.92,0.0,era5,563.89,5.5,0.93,era5,563.89,5.5,-2.10,1.83
2,2005-01-01 02:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,19.86,0.0,era5,563.89,5.5,0.87,era5,563.89,5.5,-2.61,2.36
3,2005-01-01 03:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,20.47,0.0,era5,563.89,5.5,0.82,era5,563.89,5.5,-2.76,2.78
4,2005-01-01 04:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,21.34,0.0,era5,563.89,5.5,0.75,era5,563.89,5.5,-2.79,2.99

In [5]:
df.tail()

,datetime (UTC),"coordinates (lat,lon)",model (name)_x,model elevation (surface)_x,utc_offset (hrs)_x,temperature (degC),total_precipitation (mm of water equivalent),model (name)_y,model elevation (surface)_y,utc_offset (hrs)_y,relative_humidity (0-1),model (name),model elevation (surface),utc_offset (hrs),10m_u_component_of_wind (m/s),10m_v_component_of_wind (m/s)
175315,2024-12-31 19:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,21.07,0.01,era5,563.89,5.5,0.77,era5,563.89,5.5,-1.75,-0.42
175316,2024-12-31 20:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,19.95,0.00,era5,563.89,5.5,0.81,era5,563.89,5.5,-1.68,-0.32
175317,2024-12-31 21:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,19.30,0.00,era5,563.89,5.5,0.83,era5,563.89,5.5,-1.47,-0.45
175318,2024-12-31 22:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,18.76,0.00,era5,563.89,5.5,0.89,era5,563.89,5.5,-1.49,-0.38
175319,2024-12-31 23:00:00,"(17.361362, 78.474525)",era5,563.89,5.5,18.23,0.00,era5,563.89,5.5,0.90,era5,563.89,5.5,-2.09,-0.74

In [7]:
df.shape

(175320, 16)

In [8]:
df.info

<bound method DataFrame.info of              datetime (UTC)   coordinates (lat,lon) model (name)_x  \
0       2005-01-01 00:00:00  (17.361362, 78.474525)           era5
1       2005-01-01 01:00:00  (17.361362, 78.474525)           era5
2       2005-01-01 02:00:00  (17.361362, 78.474525)           era5
3       2005-01-01 03:00:00  (17.361362, 78.474525)           era5
4       2005-01-01 04:00:00  (17.361362, 78.474525)           era5
...                     ...                     ...            ...
175315  2024-12-31 19:00:00  (17.361362, 78.474525)           era5
175316  2024-12-31 20:00:00  (17.361362, 78.474525)           era5
175317  2024-12-31 21:00:00  (17.361362, 78.474525)           era5
175318  2024-12-31 22:00:00  (17.361362, 78.474525)           era5
175319  2024-12-31 23:00:00  (17.361362, 78.474525)           era5

        model elevation (surface)_x  utc_offset (hrs)_x  temperature (degC)  \
0                            563.89                 5.5               17.94
1                            563.89                 5.5               17.92
2                            563.89                 5.5               19.86
3                            563.89                 5.5               20.47
4                            563.89                 5.5               21.34
...                             ...                 ...                 ...
175315                       563.89                 5.5               21.07
175316                       563.89                 5.5               19.95
175317                       563.89                 5.5               19.30
175318                       563.89                 5.5               18.76
175319                       563.89                 5.5               18.23

        total_precipitation (mm of water equivalent) model (name)_y  \
0                                               0.00           era5
1                                               0.00           era5
2                                               0.00           era5
3                                               0.00           era5
4                                               0.00           era5
...                                              ...            ...
175315                                          0.01           era5
175316                                          0.00           era5
175317                                          0.00           era5
175318                                          0.00           era5
175319                                          0.00           era5

        model elevation (surface)_y  utc_offset (hrs)_y  \
0                            563.89                 5.5
1                            563.89                 5.5
2                            563.89                 5.5
3                            563.89                 5.5
4                            563.89                 5.5
...                             ...                 ...
175315                       563.89                 5.5
175316                       563.89                 5.5
175317                       563.89                 5.5
175318                       563.89                 5.5
175319                       563.89                 5.5

        relative_humidity (0-1) model (name)  model elevation (surface)  \
0                          0.91         era5                     563.89
1                          0.93         era5                     563.89
2                          0.87         era5                     563.89
3                          0.82         era5                     563.89
4                          0.75         era5                     563.89
...                         ...          ...                        ...
175315                     0.77         era5                     563.89
175316                     0.81         era5                     563.89
175317                     0.83         era5                     563.89
175318                     0.89         era5                     563.89
175319                     0.90         era5                     563.89

        utc_offset (hrs)  10m_u_component_of_wind (m/s)  \
0                    5.5                          -2.04
1                    5.5                          -2.10
2                    5.5                          -2.61
3                    5.5                          -2.76
4                    5.5                          -2.79
...                  ...                            ...
175315               5.5                          -1.75
175316               5.5                          -1.68
175317               5.5                          -1.47
175318               5.5                          -1.49
175319               5.5                          -2.09

        10m_v_component_of_wind (m/s)
0                                1.87
1                                1.83
2                                2.36
3                                2.78
4                                2.99
...                               ...
175315                          -0.42
175316                          -0.32
175317                          -0.45
175318                          -0.38
175319                          -0.74

[175320 rows x 16 columns]>

In [19]:
df.info (0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175320 entries, 0 to 175319
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   datetime (UTC)                                175320 non-null  object
 1   coordinates (lat,lon)                         175320 non-null  object
 2   model (name)_x                                175320 non-null  object
 3   model elevation (surface)_x                   175320 non-null  float64
 4   utc_offset (hrs)_x                            175320 non-null  float64
 5   temperature (degC)                            175320 non-null  float64
 6   total_precipitation (mm of water equivalent)  175320 non-null  float64
 7   model (name)_y                                175320 non-null  object
 8   model elevation (surface)_y                   175320 non-null  float64
 9   utc_offset (hrs)_y                            175320 non-null  float64
 10  relative_humidity (0-1)                       175320 non-null  float64
 11  model (name)                                  175320 non-null  object
 12  model elevation (surface)                     175320 non-null  float64
 13  utc_offset (hrs)                              175320 non-null  float64
 14  10m_u_component_of_wind (m/s)                 175320 non-null  float64
 15  10m_v_component_of_wind (m/s)                 175320 non-null  float64
dtypes: float64(11), object(5)
memory usage: 21.4+ MB

In [10]:
df.dtypes

datetime (UTC)                                   object
coordinates (lat,lon)                            object
model (name)_x                                   object
model elevation (surface)_x                     float64
utc_offset (hrs)_x                              float64
temperature (degC)                              float64
total_precipitation (mm of water equivalent)    float64
model (name)_y                                   object
model elevation (surface)_y                     float64
utc_offset (hrs)_y                              float64
relative_humidity (0-1)                         float64
model (name)                                     object
model elevation (surface)                       float64
utc_offset (hrs)                                float64
10m_u_component_of_wind (m/s)                   float64
10m_v_component_of_wind (m/s)                   float64
dtype: object

In [11]:
df.isnull().sum()

datetime (UTC)                                  0
coordinates (lat,lon)                           0
model (name)_x                                  0
model elevation (surface)_x                     0
utc_offset (hrs)_x                              0
temperature (degC)                              0
total_precipitation (mm of water equivalent)    0
model (name)_y                                  0
model elevation (surface)_y                     0
utc_offset (hrs)_y                              0
relative_humidity (0-1)                         0
model (name)                                    0
model elevation (surface)                       0
utc_offset (hrs)                                0
10m_u_component_of_wind (m/s)                   0
10m_v_component_of_wind (m/s)                   0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
for i in df.select_dtypes(include="object").columns:
    print(df[i].value_counts())
    print("***"*10)

datetime (UTC)
2005-01-01 00:00:00    1
2018-05-03 03:00:00    1
2018-05-02 19:00:00    1
2018-05-02 20:00:00    1
2018-05-02 21:00:00    1
                      ..
2011-09-02 01:00:00    1
2011-09-02 02:00:00    1
2011-09-02 03:00:00    1
2011-09-02 04:00:00    1
2024-12-31 23:00:00    1
Name: count, Length: 175320, dtype: int64
******************************
coordinates (lat,lon)
(17.361362, 78.474525)    175320
Name: count, dtype: int64
******************************
model (name)_x
era5    175320
Name: count, dtype: int64
******************************
model (name)_y
era5    175320
Name: count, dtype: int64
******************************
model (name)
era5    175320
Name: count, dtype: int64
******************************

In [15]:
columns_to_drop = ['model (name)_x', 'model (name)_y', 
    'model elevation (surface)_x', 'model elevation (surface)_y', 
    'utc_offset (hrs)_x', 'utc_offset (hrs)_y']

In [16]:
df_cleaned = df.drop(columns=columns_to_drop)

In [17]:
print(df_cleaned.head())

        datetime (UTC)   coordinates (lat,lon)  temperature (degC)  \
0  2005-01-01 00:00:00  (17.361362, 78.474525)               17.94
1  2005-01-01 01:00:00  (17.361362, 78.474525)               17.92
2  2005-01-01 02:00:00  (17.361362, 78.474525)               19.86
3  2005-01-01 03:00:00  (17.361362, 78.474525)               20.47
4  2005-01-01 04:00:00  (17.361362, 78.474525)               21.34

   total_precipitation (mm of water equivalent)  relative_humidity (0-1)  \
0                                           0.0                     0.91
1                                           0.0                     0.93
2                                           0.0                     0.87
3                                           0.0                     0.82
4                                           0.0                     0.75

  model (name)  model elevation (surface)  utc_offset (hrs)  \
0         era5                     563.89               5.5
1         era5                     563.89               5.5
2         era5                     563.89               5.5
3         era5                     563.89               5.5
4         era5                     563.89               5.5

   10m_u_component_of_wind (m/s)  10m_v_component_of_wind (m/s)
0                          -2.04                           1.87
1                          -2.10                           1.83
2                          -2.61                           2.36
3                          -2.76                           2.78
4                          -2.79                           2.99

In [ ]:
df_cleaned.to_csv('/Users/bhupathiraju_renisha/Desktop/Climate/cleaned_data.csv', index=False)